@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');


.create-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
 
}
.create-form input{
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgb(255, 117, 11);
  border-radius: 4px;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}
.create-form textarea{
  width: 50%;
  height: 4rem;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgb(255, 117, 11);
  border-radius: 4px;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}
.create-form textarea:focus{
  outline: none;
}
.create-form input:focus{
  outline: none;
}
.create-form button{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgb(255, 117, 11);
  border-radius: 4px;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(255, 117, 11);
  color: white;
  cursor: pointer;
}
.create-form button:hover{
  background-color: #ff833b;
  border: none;
}

.create-form button i{
  background-color: transparent;
  color: white;
}
