@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

body{
    font-family: 'Nunito', sans-serif;
}
.toggle-read-btn{
    color: rgb(79, 95, 121);
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}