*{
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
}
body{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
}
.nav-bar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.nav-bar ul li{
  list-style: none;
}
.logout-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: none;
  color: #fff;
  background-color: rgb(147, 183, 228);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
}