@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

.body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
}
.nav-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-bar ul li {
  list-style: none;
}
.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;
  border: none;
  color: #fff;
  background-color: rgb(255, 117, 11);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.logout-btn:hover {
  background-color: #10132e;
}
.login-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;
  border: none;
  color: #fff;
  background-color: #10132e ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.login-btn:hover{
  background-color: #fff;
  color: #10132e;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.home-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;
  border: none;
  color: #fff;
  background-color: rgb(255, 117, 11) ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.home-btn:hover{
  background-color: #10132e;
}
.nav-bar a{
  text-decoration: none;
}
