@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

.container{
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;

}
.card-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  margin-bottom: 10px;
  color: #d029f6 !important;
  border: solid 1px #f62929;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 20px;
}
.card-action{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.icon{
  color: rgb(255, 88, 11);
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.icon:hover{
  color: rgb(255, 11, 11);
}
.likes{
  display: flex;
  justify-content: first baseline;
  align-items: baseline;
}
.likes p{
  box-shadow: none;
  color: red;
  margin-left: 5px;
  font-size: 25px;
  font-weight: 300;
  box-shadow: 1px 1px 2px #7c889a;
}
.card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  font-family: 'Poppins', sans-serif;
}
/* .blog-posts{
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
} */