@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

.body{
    font-family: 'Nunito', sans-serif;
}
* {
  background-color: #f3f3f9;
  color: #1d3153;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
.login-form label{
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 0;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d3153;
  background-color: white;
  font-size: 1.2rem;
  width: 50%;
  height: 50%;
  padding: 20px;
}

.login-form input {
  border: 1px solid #1d3153;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 50%;
}
.login-form button {
  border: 1px solid #1d3153;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: #1d3153;
  color: white;
  width: 80%;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
.login-form button:hover {
  background-color: #f76830;
  color: white;
  border: none;
}
.error_div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.error_div{
  background-color: white;
}
.error {
  color: red;
  font-size: 12px;
  text-align: center;
  align-items: center;
  background-color: white;
}
.sign-text{
  background-color: white;
}
.sign-link {
  color: rgb(255, 111, 0);
  cursor: pointer;
  
}
.sign-link:hover {
  color: rgb(252, 150, 72);
}
.class-btn{
  background-color: white;
}