.App {
  text-align: center;
}

.nav-bar a, li{
  font-size: 22px !important;
}
.nav-bar{
  display: flex;
  justify-content: space-around !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.form1 input{
  padding: 2px 8px !important;
  margin-top: 1rem;
  border: solid 1px teal;
  width: 100%;
  height: 4rem;
  border-radius: 5px;
}
.form1 button{
  padding: 2px 8px !important;
  margin-top: 1rem;
  width: 100%;
}
.container-fluid .row:hover{
  background-color: rgb(8, 128, 128);
  cursor: pointer;
}
  
